@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// vars
$spacer : 24px;
$highlight : #1F5CE6;

// defaults
body {
    background: #E0DFE6;
    color: #444444;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;   
}
h1, h2, h3 {
    margin-bottom: $spacer * 1.5;
}
h4 {
    margin-top: $spacer * 2;
    margin-bottom: $spacer/2;
    font-weight: bolder;
    text-transform: uppercase;
}
p {
    line-height: 1.625em;
}
footer {
    //display: block;
    margin-top: $spacer * 4;
    small {
        font-weight: bolder;
        display: block;
        margin-top: $spacer/2;
        a {
            text-decoration: none;
            margin-right: $spacer/2;
        }
    }
}
table {
    position: relative;
    z-index: 1;
    width: 100%;
    tr {
        td {
            width: 50%;
            padding: 10px $spacer/2;
            font-size: 12px;
            text-transform: uppercase;
            border-top: 1px solid transparent;
            &:nth-child(2) {
                text-align: right;
            }
        }
        &:nth-child(1) {
            td {
                
                color: #fff;
                font-weight: bolder;
                transition: all 260ms linear;
            }
        }
        &:nth-child(2) {
            td {
                //background: lighten(#336699, 25%);
            }
        }
        &:nth-child(3) {
            td {
                background: lighten(#336699, 38%);
            }
        }
        &:nth-child(4) {
            td {
                background: lighten(#336699, 45%);
            }
        }
    }
}
a {
    color: darken($highlight, 15%);
}
hr {
    border: none;
    border-bottom: 1px solid #cdcdcd;
    margin: $spacer 0;
}
section {
    //transition: all 360ms ease-in-out;
    > div {
        //max-width: 680px;
        max-width: 1360px;
        margin: 0 auto;
        padding: $spacer*4 $spacer $spacer;
        display: block;
       // transition: all 360ms ease-in-out;
    }
}
body:not([class*="rankings"]){
    section {
        width: 70vw;
        height: 100vh;
        float: left;
        overflow-x: hidden;
        overflow-y: scroll;
        > div {
            max-width: 680px;
            margin: 0 auto;
            //padding: $spacer;
            display: block;
        }
        &:nth-child(1) {
            width: 30vw;
            > div {
                max-width: 400px;
                .channel {
                    opacity: 0.5;
                }
                .channel.on {
                    opacity: 1;
                    img {
                      filter: grayscale(0%);
                      //opacity: 0;
                    }
                }
            }
        }
        &:nth-child(2) {
            width: 70vw;
        }
    }
}

img {
    max-width: 100%;
}
// classes

.layout-dashboard {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 54px;
    background: #222;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    display: table;
    > div {
        display: table-cell;
        vertical-align: middle;
        padding: 0 $spacer/2;
        width: 25%;
        text-align: center;
        &:last-child {
            text-align: right;
        }
        &:first-child {
            text-align: left;
        }
    }
    a {
        text-decoration: none;
        color: #fff;
    }
    span {
        font-family: monospace;
        margin-right: $spacer;
        color: #EE0000;
    }
}

.close {
    position: absolute;
    z-index: 99999;
    top: 44px + $spacer;
    right: $spacer;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: #EE0000;
    color: #fff;
    text-decoration: none;
}
.tag {
    background: #EE0000;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 8px;
    margin-right: 4px;
    display: inline;
    border-radius: 2px;
    font-size: 12px;
   
    &.mild {
        opacity: 0.4;
    }
    &.bad {
        opacity: 0.6;
    }
}
.stats {
    position: relative;
    transition: all 360ms ease-in-out;
    [class*="stats-bar"] {
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0px;
        width: 0%;
        height: 35px;
        display: block;
        background: #EE0000;
        transition: all 360ms ease-in-out;
        &:nth-of-type(2) {
            background: lighten(#336699, 30%);
            top: 35px;
        }
    }
}
.stats-meta {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    span {
        position: relative;
        text-transform: uppercase;
        padding: 8px 10px;
        font-size: 11px;
        line-height: 11px;
        font-weight: bold;
        color: #fff;
        background: #EE0000;
        margin-left: 2px;
        margin-top: 2px;
        display: inline-block;
        width: auto;
        &.mild {
            opacity: 0.4;
        }
        &.bad {
            opacity: 0.6;
        }
    }
}
.chat {
    background: #ffffff;
    padding: $spacer;
    margin-top: $spacer;
    p {
        margin: 0;
    }
    small {
        display: block;
        margin-top: 8px;
        color: #777;
        

    }
}
.channel {
    position: relative;
    display: block;
    width:  320px;
    height: 480px;
    margin: 20px auto;
    background: #fff;
    color: #444;
    box-shadow: 5px 5px 1px 3px rgba(#000, 0.08);
    text-decoration: none;

    small {
        text-transform: uppercase;
        margin-bottom: -16px;
        display: block;
        font-weight: 700;
    }
    p {
        padding: $spacer/2;
        margin: 0px 0 0;
        line-height: 1.25em;
          width: 85%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
    }
    img {
        position: relative;
        z-index: 0;
        opacity: 0.4;
        filter: grayscale(80%);
    }
    .stats-meta {
        z-index: 3;
    }
    .stats {
        //background: darken(lime, 25%);
        background: lighten(#336699, 25%);
        background: #fff;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .stats-totals {
       
        span {
            display: block;
            margin: 0 auto;
            font-weight: 400;
            color: #EE0000;
            font-size: 54px;
        }
    }
    &.btn-vid {
        &:before {
            content: "";
            position: absolute;
            z-index: 1;
            background: linear-gradient(#000, transparent);
            top: 0;
            left: 0;
            right: 0;
            height: 50%;
        }
    }
    &.alert {
        .stats {
            background: darken(#EE0000, 20%);
        }
        table {
            tr {
                &:nth-child(1) {
                    td {
                        
                        color: #fff;
                        font-weight: bolder;
                    }
                }
            }
        }
    }
    &.info {
        background: #333;
        color: #fff;
        text-align: center;
        display: table;
        
        > div {
            display: table-cell;
            vertical-align: middle;
            h1 {
                padding: 0 $spacer/2;
                margin: 0 0 12px 0;
                text-align: center;
            }
        }
    }
}
[class*="rankings"] {
    .channel {
        //max-width: calc(900px / 3);
        margin: 0 20px 20px 0;
        float: left;
    }
}

// utilities
.flex-video {
	position: relative;
	//padding-top: 25px;
	padding-bottom: 67.5%;
	height: 0;
	margin-bottom: $spacer;
	overflow: hidden;
}
.flex-video.widescreen { padding-bottom: 56.25%; }
.flex-video.vimeo { padding-top: 0; }
.flex-video iframe,
.flex-video object,
.flex-video embed {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
}